<div class="window default">

  <header class="header">
   <div class="center">
     <div class="title-md">
      Header All</div>
    </div>
  </header>

  <div class="section-change">
    <section class="content-page">1</section>
    <section class="content-page">2</section>
    <section class="content-page">

      <div class="container">
        <div class="row">
          <div class="col-lg-4" style="background:red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis placeat temporibus aliquid reprehenderit adipisci officiis, omnis blanditiis, esse. Iusto numquam dolores distinctio ad a error pariatur voluptates ducimus facere enim.</div>
          <div class="col-lg-4" style="background:blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quia, quasi animi quidem. Veritatis possimus excepturi maiores, saepe provident, illum sequi quia ipsam, aperiam maxime dolor voluptatem facilis est tempora.</div>
          <div class="col-lg-4" style="background:green">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque dignissimos quisquam iste facilis, quam dicta enim soluta est voluptas eaque sed numquam nulla, dolorem quos! Deleniti quam, excepturi provident quae.</div>
        </div>


        <div class="row">
          <div style="background:red"class="col-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam vel sit, sunt dolorum maxime ab neque quam recusandae hic iste distinctio accusamus dolorem qui cumque nobis delectus amet commodi obcaecati?</div>
          <div style="background:blue"class="col-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vero vitae, doloremque error quod totam. Eaque vero praesentium iste earum mollitia, quae ratione accusantium! Adipisci vero nesciunt neque magni necessitatibus?</div>
          <div style="background:green"class="col-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quae. Quo labore culpa laboriosam, illo dolore reprehenderit aspernatur, unde id ab ipsum, vel officia placeat consequatur amet, eum possimus sequi.</div>
          <div style="background:yellow"class="col-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore nesciunt ratione obcaecati, molestias eum quasi rerum veritatis animi illum dolor nemo enim blanditiis delectus ducimus minima commodi eos laudantium!</div>
          <div style="background:green"class="col-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam accusamus, veritatis pariatur ipsum sit quidem corporis, delectus ea impedit odit, unde sed perspiciatis aperiam esse magni quis eius beatae iure.</div>
          <div style="background:red"class="col-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime esse at libero provident. Tempora eos praesentium, corporis ipsum impedit, voluptate illo suscipit modi reiciendis molestias? Optio doloremque porro, cum odit.</div>
      </div>


        <div class="row">
            <div class="col-lg-4" style="background:red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque esse placeat dolorum, rerum. Repudiandae quis, iure voluptas eveniet totam non itaque magni, debitis ipsum porro iusto quae perspiciatis doloribus.</div>
            <div class="col-lg-4" style="background:blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iste, corrupti eos optio illum, laboriosam dicta? Totam, ad assumenda. Libero numquam adipisci voluptates sint sit voluptate animi dolores tenetur qui.</div>
            <div class="col-lg-4" style="background:green">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est incidunt voluptatem non explicabo, nam sint natus et ad, dolores possimus, quaerat consequatur dolore laborum quae repudiandae ut at error laudantium.</div>
        </div>

<h1>sperta</h1>
<hr>

      <div class="row-flex">
          <div style="background:red"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam numquam qui tempora temporibus! Ad dolor maxime, tempora accusamus impedit quibusdam nisi nulla doloribus. Dolorem nemo distinctio optio obcaecati mollitia sequi.</div>
          <div style="background:blue"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ad, esse quam illum explicabo reiciendis! Quis eius ex, minus tempora. Repellendus mollitia id minus deleniti unde veritatis voluptate, fuga quaerat.</div>
          <div style="background:green"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolorum ipsum officia cum voluptatem culpa, ratione tempore minima, beatae quae iste vel libero deserunt vitae eligendi unde. Cum, architecto quos!</div>
      </div>
      <div class="row-flex">
   <div style="background:red"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis adipisci unde impedit ab, quo laborum placeat atque hic quidem pariatur, recusandae magnam expedita? Laboriosam, dolor ad impedit optio! Quisquam, voluptatum!</div>
          <div style="background:blue"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi corporis, excepturi ullam impedit, et accusantium est porro natus illum quidem repellat fuga ea, harum doloribus delectus error distinctio quod alias.</div>
          <div style="background:green"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nesciunt possimus mollitia accusamus suscipit, iste eum molestiae tempora excepturi impedit itaque! Possimus vitae eligendi ipsam assumenda veritatis molestiae, consequuntur unde!</div>
          <div style="background:yellow"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ex, ipsa rem! Odio hic, inventore placeat distinctio consectetur, voluptatem alias vel sed. Veritatis perspiciatis a optio. Nam sunt, qui dolor.</div>
          <div style="background:green"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati illum temporibus sapiente consectetur, exercitationem dignissimos quia incidunt dolore explicabo, eos. Doloribus necessitatibus eum adipisci culpa iure temporibus magnam aliquam maxime.</div>
          <div style="background:red"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, beatae autem! Recusandae, aliquid. Voluptate totam impedit quibusdam, veniam neque consequatur alias tempore, voluptas ut maxime dolore nihil eligendi dolores et.</div>
      </div>
      <div class="row-flex">
          <div style="background:red"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, autem, consequatur. Eaque ullam fugit amet, ea recusandae, dolores voluptatem. Laborum rem adipisci maxime quo iure officiis expedita, in? Dolor, autem.</div>
          <div style="background:blue"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam quis totam. Provident dolorum dicta nihil temporibus rerum odit voluptate ut commodi atque, alias dolores ipsa repudiandae iusto nobis, sapiente.</div>
          <div style="background:green"class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto illum voluptas quam cumque expedita optio consectetur dolorem, dicta quia rem, officiis non ex quibusdam at possimus ab est molestias fuga.</div>
      </div>

      </div>

    </section>
  </div>






</div>
