<div class="window">

  <header class="header red full box-center">
   <div class="center">
     <div class="title-large">
      Header All</div>
    </div>
  </header>


  <section class="content-page">
    <div class="container">
      <h1>Icone new</h1>
      <a href="#/" class="icon-new radial-out"></a>
    </div>
  </section>

  <div class="section-change">

  <section class="content-page red"><div class="title center">Titre</div></section>
  <section class="content-page blue"><div class="title center">Titre</div></section>
  <section class="content-page orange"><div class="title center">Titre</div></section>
  <section class="content-page green"><div class="title center">Titre</div></section>

<footer class="footer"></footer>
  </div>
</div>
